# Git 
alias pull="git pull"
alias change="git checkout"
aliase cloviscredentials='eval "$(ssh-agent -s)"; ssh-add ~/.ssh/id_clovis;'

# Meta aliases
alias aliases="nvim ~/.aliases"
alias reloadaliases="source ~/.aliases"
alias reload="source ~/.zshrc"
alias zrc="nvim ~/.zshrc"

# Server
alias accio="ssh root@172.233.0.108"
